[import]
active = fake

[import:fake]
type = fake

[export]
active = basic,extended

[export:basic]
type = xml-basic
path = /tmp/schedule-basic.xml

[export:extended]
type = xml-extended
path = /tmp/schedule-extended.xml
